
.panel2 {
    padding: 50px 100px 0 100px;
}
.panel1{
    padding: 100px 100px 0 100px;
}
.panel3 {
	margin-top: 50px;
	text-align: center;
}
#doit {
	width: 300px;
}
#monitor1 {
	margin-top: 30px;
}